.slider {
    height: 400px;
    margin-top: 186px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
}

.slider_text {
    width: 502px;
    height: 231px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    margin-top: 83px;
}

.lorem {
    color: #fefefe;
    font-family: "LeagueGothic";
    font-size: 60px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 3px;
    margin-bottom: 10px;
    letter-spacing: -0.45px;
}

.it_will {
    color: #edbfff;
    font-family: "LeagueGothic";
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
}

.text_info {
    font-family: "Open_Sans_Light";
    font-weight: 300;
    letter-spacing: 0.45px;
    color: #f9f9f8;
    line-height: 24px;
}


.iphone4_copy {
    width: 130px;
    height: 268px;
    background-image: url(img/iPhone_4_copy.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 115px;
    margin-top: 61px;
}

.iphone4 {
    background-image: url(img/iPhone_4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* Style for "iPhone 4" */
    width: 197px;
    height: 434px;
    margin-left: -53px;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 960px) {

}

@media screen and (min-width:786px) and (max-width:960px) {
    .slider {margin-top: 79px;}

    .slider_text {
        width: 275px;
        height: 184px;
        margin-top: 94px;
        margin-left: 69px;
        overflow: hidden;
    }

    .lorem {
        font-size: 48px;
        margin-left: 3px;
        margin-bottom: 8px;
    }

    
    .it_will {
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 2px;
    }

    
    .iphone4_copy {
        margin-left: 133px;
        margin-top: 55px;
    }

    .iphone4 {
        margin-left: -77px;
        margin-top: -23px;
    }

}

@media screen and (min-width:480px) and (max-width:786px) {
    .slider {
        height: 246px;
        margin-top: 0;
    }

    .slider_text {
        width: 201px;
        height: 51px;
        font-family: "MyriadPro";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        white-space: nowrap;
        margin-right: 16px;
    }

    
    .lorem {font-size: 36px;}

    
    .it_will {
        font-size: 18px;
        overflow: hidden;
    }

    .text_info { display: none;}

    
    .iphone4,
    .iphone4_copy {display: none;}
}

@media screen and (min-width:320px) and (max-width:480px) {
    .slider {
        background-color: transparent;
        height: 60px;
        margin-top: 124px;
        text-align: center;
    }

    .slider_text {
        width: 201px;
        height: 60px;
        padding-top: 5px;
        margin-top: 0;
        overflow: hidden;
        margin-left: 50px;
    }
    
    .lorem {
        line-height: 24px;
        font-size: 36px;
        margin-left: 0;
    }

    .it_will {
        line-height: 24px;
        font-size: 18px;
    }

    .text_info {display: none;}

    .iphone4,
    .iphone4_copy{display: none;}
}