.first_floor {
    height: 342px;
    background-image: linear-gradient(to top, #322539 0%, #745083 100%);
    margin-top: -23px;
    padding-top: 80px;
    margin-left: -10px;
}

.center_conta1ner {
    width: 920px;
    height: 190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cont1 {width: 273px;}

.header_about {
    display: flex;
    width: 224px;
    height: 31px;
    margin-bottom: 5px;
    margin-left: 4px;
}

.img {
    width: 30px;
    height: 32px;
    margin-right: 22px;
    margin-top: 3px;
}

.img_company1 {
    background-image: url(img/source_of_icons.png);
    background-position: 84% 28%;
}

.img_company2 {
    background-image: url(img/source_of_icons.png);
    background-position: 68% 52%;;
}

.img_company3 {
    background-image: url(img/source_of_icons.png);
    background-position: 100% 2%;
}


.about_company {
    height: 22px;
    text-shadow: 1px 1px 0 #0f1518;
    color: #ffffff;
    font-family: 'LeagueGothic';
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.text_about_company {
    width: 223px;
    height: 113px;
    text-shadow: 1px 1px 0 #0f1518;
    color: #ffffff;
    font-family: "Open_Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 57px;
}

.read_more {
    min-width: 54px;
    height: 14px;
    color: #ffffff;
    font-family: 'LeagueGothic';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 23px;
    float: right;
}

.read_more:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}


@media screen and (min-width:786px) and (max-width:960px) {
    .first_floor {
        margin-top: 0;
        padding-top: 79px;
    }

    .center_conta1ner {
        width: 716px;
        height: 201px;
        margin-left: 65px;
    }
    
    .cont1 {width: 205px;}

    .header_about {
        margin-bottom: 4px;
        margin-left: 0 px;
    }

    .img_company3,
    .img_company2 { background-position: 84% 28%; }

    .img {
        width: 30px;
        height: 25px;
        margin-right: 15px;
        margin-top: 2px;
    }

    .about_company {
        width: 139px;
        height: 18px;
        font-size: 24px;
    }

    
    .text_about_company {
        width: 151px;
        height: 143px;
        font-size: 16px;
        margin-left: 49px;
        overflow: hidden;
    }

    .read_more {margin-top: 11px;}
}

@media screen and (min-width:480px) and (max-width:786px) {
    .first_floor {height: 598px;}

    .center_conta1ner {
        width: 429px;
        height: 448px;
        display: block;
    }

    
    .cont1 {
        height: 127px;
        width: 100%;
        margin-bottom: 19px;
    }

    .img_company3,
    .img_company2 {background-position: 84% 28%; }

    .about_company {
        height: 18px;
        text-shadow: 1px 1px 0 #0f1518;
        font-size: 24px;
    }

    
    .text_about_company {
        /* Style for "Nunc turpi" */
        width: 364px;
        height: 65px;
        font-size: 16px;
    }


}

@media screen and (min-width:320px) and (max-width:480px) {
    .first_floor { height: 598px;}

    
    .center_conta1ner {
        width: 270px;
        height: 460px;
        flex-direction: column;
        justify-content: space-between;
    }

    .cont1 {
        height: 137px;
        width: 100%;
    }

    .header_about { margin-bottom: 0;}

    .img_company3,
    .img_company2 {background-position: 84% 28%;}

    .about_company {
        height: 18px;
        text-shadow: 1px 1px 0 #0f1518;
        font-size: 24px;
    }

    .text_about_company {
        font-size: 16px;
        width: 193px;
        height: 70px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin-top: 11px;
        margin-bottom: 19px;
        overflow: hidden;
    }

    
    .read_more { margin-top: 0px;}
}